theme = "solarized-light"
icons = "awesome"

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{mem_total_used_percents}"
format_swap = "{swap_used_percents}"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

{{- if .i3.use_battery }}
[[block]]
block = "battery"
interval = 60
format = "{percentage} {time}"
hide_missing = true
{{- end }}

[[block]]
block = "custom"
command = "curl -s 'wttr.in/?format=3'"
interval = 600

[[block]]
block = "time"
interval = 1
format = "%a %m/%d %R"
